<template name="accountdetails">

        {{#if accountInfo}}
           <!--<div class="row head">
               <div class="col-md-12">
                   <header class="header">
                       <div class="accountinfo">{{accountInfo.name}}
                           <small>account</small>
                       </div>
                   </header>
               </div>
           </div>
           -->
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-12">
                    <div class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <div class="navbar-brand accountinfo">{{accountInfo.name}}
                                <small>account</small>
                            </div>
                        </div>
                        <!--<div class="container">
                            <ul class="nav navbar-nav">
                                <li><a class="active">Balacnce: <b class="{{isValidAmount}}">{{accountInfo.balance}}</b></a></li>
                                <li class=""><a style="cursor: pointer;" class="newtransaction">New Transaction</a></li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Purpose</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each transactions}}
                            {{>transactionitem}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{else}}
            <h1>Moneytrackers</h1>
        {{/if}}
</template>
<template name="transactionitem">
    <tr class="dataitem">
        <td class="attime">{{attime}}</td>
        <td class="ttype">{{type}}</td>
        <td class="purpose">{{purpose}}</td>
        <td class="amount">{{amount}}</td>
        <td class=""><span class="fa fa-remove rmtransaction"></span>&nbsp;&nbsp;<span class="fa fa-edit edittransaction"></span></td>
    </tr>


</template>